<h1>List of Persons</h1>
<div class="row">
  <div class="container">
    <label>Person Name: <input #name /></label>
    <button (click)="onAdd(name.value)">Add new Person</button>
  </div>
  <div *ngIf="SelectedPerson" class="container">
    <label>NumberPhone: <input #num /></label>
    <button (click)="onAddNumber(num.value)">Add new Number for the selected person</button>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <ul class="persons">
          <li *ngFor="let person of persons" (click)="onSelect(person)">
              <span class="badge">{{person.name}}</span>
          </li>
      </ul>
  </div>
  <div class="col-md-8">
    <div *ngIf="selectedPerson">
    <app-number></app-number>
  </div>
  </div>
</div>
  
  